.chat-room__viewer-card {
  position: absolute!important;
  pointer-events: none;
  z-index: 5556;
}
.viewer-card-layer {
  z-index: 10!important;
  position: relative!important;
}
.ovg-viewer-card {
  top: 349px;
  left: 5px;
  position: absolute!important;
  border-radius: .4rem!important;
  width: 310px;
  pointer-events: all;
  margin: 5px 5px 55px 5px;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
div.full-space {
  height: 100%!important;
  width: 100%!important;
}
div.background-viewer-card {
  flex-direction: column!important;
  display: flex!important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .4), 0 0 4px rgba(0, 0, 0, .4)!important;
  background-color: var(--wasd-color-prime)!important;
  border-radius: .4rem!important;
}
div.viewer-card-header__background {
  background-position: center top;
  background-size: cover;
  border-top-left-radius: .4rem;
  border-top-right-radius: .4rem;
  overflow: hidden;
  flex-shrink: 0!important;
  flex-grow: 0!important;
  background-color: rgba(0, 0, 0, 0) !important;
  background-position-y: center;
  cursor: move;
}
div.viewer-card-header__overlay {
  background-color: rgba(0, 0, 0, .6)!important;
  flex-direction: column!important;
  display: flex!important;
}
div.viewer-card-header__banner {
  padding: 1rem!important;
  position: relative!important;
  flex-grow: 1!important;
  justify-content: flex-start!important;
  align-items: flex-start!important;
  flex-direction: row!important;
  width: 100%!important;
  color: #fff!important;
  text-align: center!important;
  display: flex!important;
}
div.viewer-card-drag-cancel {
  display: inline-flex!important;
}
figure.tw-avatar {
  position: relative;
  background-color: inherit;
  width: 5rem;
  height: 5rem;
  display: block;
  margin: 0;
}
figure>div.profile-main__avatar {
  width: 100%;
  display: block !important;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  border-radius: 8px !important;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
div.viewer-card-header__display-name {
  margin-left: 1rem!important;
  margin-right: 1rem!important;
  text-align: left!important;
  min-width: 0;
  color: #fff!important;
}
div.tw-full-width.tw-pd-r-5 {
  padding-right: 5rem!important;
  width: 100%!important;
}
h4.tw-c-text-overlay.tw-ellipsis.tw-line-clamp-2.tw-word-break-all {
  word-break: break-all!important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  display: flex;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #fff!important;
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 600;
  margin: 0;
  cursor: move;
  max-width: 205px;
  width: 205px;
}
a.tw-link {
  text-decoration: none;
  color: inherit;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
div.tw-flex .gameurl>a {
  color: var(--wasd-color-corp-blue);
  text-decoration: underline;
  cursor: pointer;
}
div.tw-flex .gameurl>a:hover {
  text-decoration: none;
}
div.tw-flex.tw-full-width.tw-overflow-hidden.tw-justify-content-center.tw-flex-column a:hover {
  text-decoration: underline;
}
figure.tw-svg {
  -webkit-box-align: center;
  align-items: center;
  display: inline-flex;
  margin: 0;
}
figure.tw-svg>svg {
  fill: white;
}
a.tw-c-text-overlay.tw-mg-l-05.tw-mg-t-auto {
  margin-left: .5rem!important;
  margin-top: auto!important;
  color: #fff!important;
  font-size: 1.3rem;
  line-height: 1.5;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
}
div.bttv-moderator-card-user-stats {
  color: #fff;
  padding-bottom: 10px;
}
div.tw-flex.tw-full-width {
  display: flex!important;
  width: 100%!important;
}
div.tw-align-items-center.tw-inline-flex.tw-stat.tw-pd-l-1 {
  padding-left: 1rem!important;
  align-items: center!important;
  display: inline-flex;
}
div.tw-align-items-center.tw-inline-flex.tw-stat__icon.tw-mg-r-1 {
  margin-right: 1rem!important;
  align-items: center!important;
  display: inline-flex!important;
}
div.tw-c-background-alt-2.tw-pd-t-05 {
  padding-top: .5rem!important;
  background-color: var(--wasd-color-prime) !important;
}
div.tw-absolute.tw-mg-r-05.tw-mg-t-05.tw-right-0.tw-top-0 {
  margin-right: .5rem!important;
  margin-top: .5rem!important;
  right: 0!important;
  top: 0!important;
  position: absolute!important;
}
button.tw-button-icon.tw-button-icon--overlay.tw-core-button {
  border: 1px solid transparent;
  background-color: transparent;
  color: #fff;
  border-radius: .4rem;
  height: 3rem;
  justify-content: center;
  user-select: none;
  display: inline-flex;
  align-items: center;
  position: relative;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
  text-align: inherit;
  background: 0 0;
}
button.tw-button-icon.tw-button-icon--overlay.tw-core-button:hover {
  cursor: pointer;
  background-color: rgb(178 177 177 / 18%);
}
button.tw-button-icon.tw-button-icon--overlay.tw-core-button:active {
  background-color: rgba(255, 255, 255, .5);
}
span.tw-button-icon__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
div.tw-icon {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
div.tw-aspect {
  position: relative;
  width: 100%;
  overflow: hidden;
}
div.tw-aspect>div {
  padding-bottom: 100%;
}
svg.ScIconSVG-sc-1bgeryd-1 {
  position: absolute;
  left: 0px;
  width: 100%;
  min-height: 100%;
  top: 0px;
  fill: currentcolor;
}
.bttv-moderator-card-nickname-change-button {
  position: relative;
  align-items: center;
  background-color: var(--color-background-button-icon-overlay-default);
  border: var(--border-width-default) solid transparent;
  border-radius: var(--border-radius-medium);
  color: var(--color-text-button-overlay);
  display: inline-flex;
  height: var(--button-size-default);
  justify-content: center;
  margin-top: -4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: inherit;
  background: 0 0;
  width: 27.5px;
  border-radius: .4rem;
  height: 3rem;
  border: 1px solid transparent;
}
.bttv-moderator-card-nickname-change-button .buttonIcon {
  align-items: center;
  display: flex;
  justify-content: center;
}
.bttv-moderator-card-nickname-change-button:hover {
  cursor: pointer;
  background-color: rgba(178, 177, 177, 0.18);
}
.bttv-moderator-card-nickname-change-button:active {
  background-color: rgba(255, 255, 255, .5);
}

div.paid_title-ovg {
  padding-left: 10px;
  font-size: 16px;
  font-family: Roboto, sans-serif;
}
button.paid_title-ovg {
  background: none;
  color: var(--wasd-color-text-prime);
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  padding-left: 10px!important;
  padding-right: 15px;
  font-size: 16px!important;
  font-family: Roboto, sans-serif!important;
}
.ovg-viewer-card #selector-channel-favorite-btn-ovg {
  margin-left: 10px;
}
.ovg-viewer-card wasd-button.flat-btn.ovg {
  position: relative;
  display: inline-block;
  outline: none;
}
.ovg-viewer-card i.wasd-icons-like.ovg {
  font-size: 14px;
  height: 14px;
  width: 14px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.ovg-viewer-card i.wasd-icons-favorite {
  font-size: 14px;
  height: 14px;
  width: 14px;
  align-items: center;
  display: flex;
  justify-content: center;
}
div.ovg.buttonsdiv {
  margin-top: 10px;
  margin-bottom: 5px;
  display: inline-flex;
}


/* error */
.chat-room__viewer-card.loading .viewer-card-header__banner,
.chat-room__viewer-card.loading .bttv-moderator-card-user-stats {
  visibility: hidden;
}
.chat-room__viewer-card.loading .ovg.buttonsdiv,
.chat-room__viewer-card.loading .tw-c-background-alt-2,
.chat-room__viewer-card.loading .user_last_messages-ovg {
  display: none;
}

/* error */
/*.chat-room__viewer-card.error .viewer-card-header__banner,*/
.chat-room__viewer-card.error .bttv-moderator-card-user-stats {
  visibility: hidden;
}
.chat-room__viewer-card.error .ovg.buttonsdiv,
.chat-room__viewer-card.error .tw-c-background-alt-2,
.chat-room__viewer-card.error .user_last_messages-ovg,
.chat-room__viewer-card.error .bttv-moderator-card-nickname-change-button {
  display: none;
}

.chat-room__viewer-card:not(.error) .error_text {
  display: none;
}

/* ban */
.moderator .go_ban {
  display: flex;
}
.moderator .go_unban {
  display: none;
}
.moderator.ban .go_ban {
  display: none;
}
.moderator.ban .go_unban {
  display: flex;
  flex-direction: column;
}
.moderator.disabled button {
  box-shadow: none;
  cursor: default;
  color: rgba(var(--wasd-color-switch--rgb), 0.48) !important;
  background: rgba(var(--wasd-color-switch--rgb), 0.08) !important;
  pointer-events: none;
}
.moderator.ban .go_unban span {
  font-size: 12px;
}
.moderator .go_unban span.third {
  color: var(--wasd-color-text-third);
}