/* bscSettingsPanel */
#bscSettingsPanel wasd-nav-sidebar .nav-sidebar[ovg] {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100vh - 48px);
  width: 52px;
  margin: 48px 0 0;
  box-sizing: border-box;
  border-right: 1px solid rgba(var(--color-switch),.24);
  overflow-y: auto;
  overflow-x: hidden;
  white-space: nowrap;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: width .15s ease-in-out;
  background: var(--color-first-layer);
  pointer-events: none;
}

#bscSettingsPanel wasd-nav-sidebar .nav-sidebar[ovg]::-webkit-scrollbar {
  width: 8px;
  background: rgba(var(--color-switch), .24)
}

#bscSettingsPanel wasd-nav-sidebar .nav-sidebar[ovg]::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(var(--color-switch), .48)
}

#bscSettingsPanel wasd-nav-sidebar .nav-sidebar__list[ovg] {
  position: fixed;
  display: block;
  padding: 0;
  margin: 0
}
#bscSettingsPanel wasd-nav-sidebar .nav-sidebar__list[ovg].top {
  top: 0;
  position: absolute;
  overflow: hidden;
  width: 500px;
  height: auto;
}
#bscSettingsPanel wasd-nav-sidebar .nav-sidebar__list[ovg].bottom {
  bottom: 0;
  position: absolute;
}
#bscSettingsPanel wasd-nav-sidebar .nav-sidebar__list[ovg] li[ovg] {
  list-style: none
}

#bscSettingsPanel wasd-nav-sidebar .nav-sidebar__link[ovg],
#bscSettingsPanel wasd-nav-sidebar .nav-sidebar__item[ovg] {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 52px;
  height: 40px;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
  transition: width .15s ease-in-out;
  pointer-events: all;
}

#bscSettingsPanel wasd-nav-sidebar .nav-sidebar__link[ovg] *,
#bscSettingsPanel wasd-nav-sidebar .nav-sidebar__item[ovg] * {
  pointer-events: none;
}

#bscSettingsPanel wasd-nav-sidebar .nav-sidebar__link[ovg] span[ovg],
#bscSettingsPanel wasd-nav-sidebar .nav-sidebar__item[ovg] span[ovg] {
  position: relative;
  left: -8px;
  width: 0;
  opacity: 0;
  transition: width .15s ease-in-out,left .15s ease-in-out,opacity .15s ease-in-out;
  color: rgba(var(--color-switch), .8) !important;
  display: flex
}

.nav-sidebar__link[ovg]:hover,
.nav-sidebar__item[ovg]:hover {
  background: rgba(var(--color-switch), .08)
}

#bscSettingsPanel wasd-nav-sidebar .nav-sidebar__link[ovg]:hover span[ovg],
#bscSettingsPanel wasd-nav-sidebar .nav-sidebar__item[ovg]:hover span[ovg] {
  color: rgb(var(--color-switch)) !important
}

#bscSettingsPanel wasd-nav-sidebar .nav-sidebar__link[ovg]:active,
#bscSettingsPanel wasd-nav-sidebar .nav-sidebar__item[ovg]:active {
  background: rgba(var(--color-switch), .16)
}

#bscSettingsPanel wasd-nav-sidebar .nav-sidebar__link[ovg]:active span[ovg],
#bscSettingsPanel wasd-nav-sidebar .nav-sidebar__item[ovg]:active span[ovg] {
  color: rgb(var(--color-switch)) !important
}

#bscSettingsPanel wasd-nav-sidebar .nav-sidebar__link.nav-sidebar__link--active[ovg],
#bscSettingsPanel wasd-nav-sidebar .nav-sidebar__item.nav-sidebar__item--active[ovg] {
  background: rgb(var(--color-system-blue))
}

#bscSettingsPanel wasd-nav-sidebar .nav-sidebar__link.nav-sidebar__link--active[ovg] i[ovg],
#bscSettingsPanel wasd-nav-sidebar .nav-sidebar__item.nav-sidebar__item--active[ovg] i[ovg] {
  color: rgb(var(--color-system-white)) !important
}

#bscSettingsPanel wasd-nav-sidebar.nav-sidebar--expanded[ovg] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#bscSettingsPanel wasd-nav-sidebar.nav-sidebar--expanded[ovg] .nav-sidebar,
#bscSettingsPanel wasd-nav-sidebar.nav-sidebar--expanded[ovg] .nav-sidebar .nav-sidebar__link[ovg],
#bscSettingsPanel wasd-nav-sidebar.nav-sidebar--expanded[ovg] .nav-sidebar .nav-sidebar__item[ovg] {
  width: 240px
}

#bscSettingsPanel wasd-nav-sidebar.nav-sidebar--expanded[ovg] .nav-sidebar .nav-sidebar__link[ovg] span[ovg],
#bscSettingsPanel wasd-nav-sidebar.nav-sidebar--expanded[ovg] .nav-sidebar .nav-sidebar__item[ovg] span[ovg] {
  left: 0;
  width: 188px;
  opacity: 1
}

#bscSettingsPanel wasd-nav-sidebar i[ovg] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px !important;
  height: 40px !important;
  font-size: 20px;
  color: rgb(var(--color-system-blue)) !important
}

#bscSettingsPanel wasd-nav-sidebar i[ovg]:before {
  margin: 0
}

#bscSettingsPanel wasd-nav-sidebar .onboard-layout[ovg] {
  position: absolute;
  opacity: .6;
  background: rgb(var(--color-system-black));
  z-index: 5557;
  top: 48px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 52px;
  height: calc(100vh - 48px);
  display: flex;
  justify-content: center;
  align-items: center
}

#bscSettingsPanel wasd-nav-sidebar .nav-sidebar__link[ovg] .tooltip-content {
  display: flex;
}