[class^="ovg-icon-"], [class*=" ovg-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ovg-icon-chat:before {
  content: "\e905";
}
.ovg-icon-filter:before {
  content: "\e906";
}
.ovg-icon-history:before {
  content: "\e907";
}
.ovg-icon-bttv:before {
  content: "\e901";
}
.ovg-icon-backup:before {
  content: "\e900";
}
.ovg-icon-change_log:before {
  content: "\e902";
}
.ovg-icon-ffz:before {
  content: "\e903";
}
.ovg-icon-tv7:before {
  content: "\e904";
}
.ovg-icon-upload:before {
  content: "\e908";
}
.ovg-icon-download:before {
  content: "\e909";
}